/java/core/.settings
/java/core/.classpath
/java/core/.project
/java/examples/quickstart-client/.settings
/java/examples/quickstart-client/.project
/java/examples/quickstart-client/.classpath
/java/examples/quickstart-server/.settings
/java/examples/quickstart-server/.project
/java/examples/quickstart-server/.classpath
/java/net/.settings
/java/net/.project
/java/net/.classpath
/java/tools/tars-maven-plugin/.settings
/java/tools/tars-maven-plugin/.project
/java/tools/tars-maven-plugin/.classpath
/java/core/target
/java/examples/quickstart-client/target
/java/examples/quickstart-server/target
/java/net/target
/java/tools/tars-maven-plugin/target
/java/examples/stress-server/.classpath
/java/examples/stress-server/.project
/java/examples/stress-server/.settings
/java/examples/stress-server/target
/java/.project
/java/.settings/org.eclipse.m2e.core.prefs
/java/examples/.project
/java/examples/.settings/org.eclipse.m2e.core.prefs
/java/tools/.project
/java/tools/.settings/org.eclipse.m2e.core.prefs

/php/.idea/*
.idea/*

framework/tarscpp/clear-install.cmake
framework/tarscpp/examples/AuthDemo/Server/Hello.h
framework/tarscpp/examples/CoroutineDemo/AServer/AServant.h
framework/tarscpp/examples/CoroutineDemo/BServer/BServant.h
framework/tarscpp/examples/QuickStartDemo/HelloServer/Server/Hello.h
framework/tarscpp/examples/QuickStartDemo/ProxyServer/Server/Proxy.h
framework/tarscpp/examples/StressDemo/TarsStressServer/Stress.h
framework/tarscpp/examples/UdpDemo/Server/Hello.h
framework/tarscpp/servant/servant/AdminF.h
framework/tarscpp/servant/servant/AuthF.h
framework/tarscpp/servant/servant/BaseF.h
framework/tarscpp/servant/servant/ConfigF.h
framework/tarscpp/servant/servant/EndpointF.h
framework/tarscpp/servant/servant/LogF.h
framework/tarscpp/servant/servant/NodeF.h
framework/tarscpp/servant/servant/NotifyF.h
framework/tarscpp/servant/servant/PropertyF.h
framework/tarscpp/servant/servant/QueryF.h
framework/tarscpp/servant/servant/StatF.h
framework/tarscpp/servant/tup/RequestF.h
framework/tarscpp/tools/tarsgrammar/tars.lex.cpp
framework/tarscpp/tools/tarsgrammar/tars.tab.cpp
framework/tarscpp/tools/tarsgrammar/tars.tab.hpp
framework/tarscpp/tools/tarsparse/tars.lex.cpp
framework/tarscpp/tools/tarsparse/tars.tab.cpp
framework/tarscpp/tools/tarsparse/tars.tab.hpp
framework/tarscpp/unittest/protocol/TarsTest/TestcaseServer/OneWayRpcTest.h
framework/tarscpp/unittest/protocol/TarsTest/TestcaseServer/RPCTest.h
framework/tarscpp/unittest/protocol/TarsTest/UnitTest/AServant.h
framework/tarscpp/unittest/protocol/TarsTest/UnitTest/BServant.h
framework/tarscpp/unittest/protocol/TarsTest/UnitTest/DyeingTest.h
framework/tarscpp/unittest/protocol/TarsTest/UnitTest/Proxy.h
framework/tarscpp/unittest/protocol/TarsTest/UnitTest/TarsPingTest.h
framework/tarscpp/unittest/protocol/TarsTest/UnitTest/TupDemo.h
framework/tarscpp/unittest/protocol/TarsTest/UnitTest/TypeDemo.h
framework/tarscpp/unittest/protocol/TarsTest/UnitTest/UserInfo.h
